<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <uses-feature
      android:name="android.hardware.telephony"
      android:required="false" />

  <uses-permission android:name="android.permission.RECEIVE_SMS" />
  <uses-permission android:name="android.permission.READ_SMS" />
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

  <application
      android:allowBackup="true"
      android:hardwareAccelerated="true"
      android:largeHeap="true"
      android:dataExtractionRules="@xml/data_extraction_rules"
      android:fullBackupContent="@xml/backup_rules"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="false"
      android:theme="@style/Theme.Message2TG"
      tools:targetApi="31"
      >
    <activity
        android:name="uk.kagurach.message2TG.MainActivity"
        android:exported="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.Message2TG">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <receiver android:name="uk.kagurach.message2TG.NewMessageHandler"
        android:exported="true"
        android:permission="android.permission.BROADCAST_SMS">
      <intent-filter android:priority="1" >
        <action android:name="android.provider.Telephony.SMS_RECEIVED" />
      </intent-filter>
    </receiver>

    <service android:name="uk.kagurach.message2TG.ForwardService"
      android:enabled="true"
      android:exported="true"/>


  </application>
</manifest>